*{
  font-family: 'Arima Madurai', cursive;
  margin:0px;
  padding:0px
}
.roundbtn{
  padding:10px;
  width:120px;
  border-radius: 25px;
  border:none
}
.btn-group{
  display:flex;
  margin-top: 50px;

}
.course-title{
  text-align:center;
}
.greentxt{
  color:green
}
.greenbg{
  background-color: green
}
.whitetxt{
  color:white
}
.bluebg{
  background-color: midnightblue;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
}
.wrapper{

}
body
.logo>img{
  width:250px
}
nav>ul{
  list-style: none;
  display:flex;
  padding:15px
}
nav>ul>li{
  margin:8px
}
.main-slide{
  display:flex;
  justify-content: space-between;
  padding:0px 150px;
  background: rgb(254,254,255);
  background: linear-gradient(90deg, rgba(254,254,255,1) 0%, rgba(221,251,224,1) 99%);
}
.intro-text{
  width:350px;
  overflow:hidden;
}
.intro-text>p{
  animation :mymove 2s;
}
.dev{
  animation :dev 3s;
}
.btn-group>button{
  animation:btng 3s;
}
@keyframes btng {
  from { position:relative; bottom: -500px;}
  to {  position:relative;bottom: 0px;}
}
@keyframes dev {
  from { display: -500px;}
  to {  margin-right: 0px;}
}
@keyframes mymove {
  from { margin-left: -500px;}
  to {  margin-left: 0px;}
}
/*cards section */
.cards{
  display:flex;
  justify-content: space-between;
  padding:50px 100px
}
.onecard{
  width:250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:10px
}
.onecard>img{
  width:100%;
  height:150px
}
/*Requires sectioon */
.requires{
  display:flex;
  justify-content: space-between;
  padding:100px;
  background: rgb(254,254,255);
  background: linear-gradient(90deg, rgba(254,254,255,1) 0%, rgba(221,251,224,1) 99%);
}
.imagesec>img{
  width:99%
}
.tabhead{

  padding:20px;
  margin-bottom: 10px;
  background-color: #E3FFE8
}
.weoffer>p{
  margin-bottom: 30px
}
.uneed>p{
  margin-bottom: 30px
}
.weoffer>ul>li{
  margin-bottom: 30px;
}
.uneed>ul>li{
  margin-bottom: 30px;
}
.tabcontent{
  margin-top: 20px;
  width: 500px;
  height:370px
}
.tabsec>.active{
  border-left: 3px solid green;
  border-right: 3px solid green;
  border-top: 3px solid green;

}
.weoffer,.uneed{
  border-left: 3px solid green;
  border-right: 3px solid green;
  border-bottom: 3px solid green;
  border-top: 3px solid green;
  padding:30px
}
.askbtn{
  margin-top: 30px;
  width:300px;
}
