*{
  font-family: 'Arima Madurai', cursive;
}
.roundbtn{
  padding:10px;
  width:120px;
  border-radius: 25px;
  border:none
}
.btn-group{
  display:flex;
}
.greentxt{
  color:green
}
.greenbg{
  background-color: green
}
.whitetxt{
  color:white
}
.bluebg{
  background-color: midnightblue;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
}
.wrapper{

}
body
.logo>img{
  width:250px
}
nav>ul{
  list-style: none;
  display:flex;
  padding:15px
}
nav>ul>li{
  margin:8px
}
.main-slide{
  display:flex;
  justify-content: space-between;
  padding:0px 150px;
  background: rgb(254,254,255);
background: linear-gradient(90deg, rgba(254,254,255,1) 38%, rgba(156,218,162,1) 59%);
}
.intro-text{
  width:350px;
  overflow:hidden;
}
.intro-text>p,b{
  animation :mymove 2s;
}
.dev{
  animation :dev 3s;
}
.btn-group>button{
  animation:btng 3s;
}
@keyframes btng {
  from { position:relative; bottom: -500px;}
  to {  position:relative;bottom: 0px;}
}
@keyframes dev {
  from { display: none;}
  to {  display:bold;}
}
@keyframes mymove {
  from { margin-left: -500px;}
  to {  margin-left: 0px;}
}
